@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background: #f2f4f6;
  }
  .touch_outer {
    margin-top: 80px;
  }
  .container {
    width: 95%;
    max-width: 1140px;
    margin: auto;
  }
  .grid-70-30 {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .get_form_inner {
    display: block;
    padding: 50px 40px;
    background: #fff;
    box-shadow: -4px -2px 20px -7px #cfd5df;
  }
  input[type="text"], input[type="text"], input[type="email"], input[type="tel"] {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    height: 42px;
    padding: 0 0 0 20px;
    width: 100%;
    outline: 0;
  }
  .grid-50-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-full {
    margin: 20px 0;
  }
  textarea {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    padding: 12px 0 0 20px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
  }
  .get_form_inner_text h3 {
    color: #333;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  input[type="submit"] {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid;
    font-weight: 500;
    padding: 10px 20px;
    outline: 0;
    cursor: pointer;
    color: #103e65;
    transition: all 0.3s;
  }
  input[type="submit"]:hover {
    background-color: #f85508;
    border-color: #f85508;
    color: #fff;
  }
  .get_say_form {
    display: inline-block;
    padding: 45px 0 25px 30px;
    background: #ced829;
    position: relative;
    color: black;
  }
  .get_say_form h5 {
    color: black;
    font-size: 26px;
    margin: 0 0 40px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .social-icn {
    display: flex;
    position: absolute;
    bottom: 40px;
  }
  .social-icn a {
    font-size: 22px;
    color: black;
    padding: 0 20px 0 0;
  }
  .info_sec i {
    color: black;
    font-size: 32px;
  }
  .info_sec > li {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    margin-bottom: 40px;
  }
  .info_sec > li a {
    width: 100%;
    display: block;
    padding: 15px 25px;
    color: #fff;
    font-size: 16px;
    text-decoration: unset;
    font-weight: 500;
    background: #065381;
    border-radius: 5px 0 0 5px;
    transition: all 0.3s;
    
  }
  .info_sec > li a:hover {
    background-color: #f85508;
  }

  .site-footer
{
  margin-top: 100px;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}

